<!DOCTYPE html>	
<html>
    <head>
        <title>COVID Night-teen Fever</title>
        <link rel="icon" href="/src/asset/bacteria.png">
        <link rel="stylesheet" href="/src/style/styles.css" />
        <script type="text/javascript" src="https://d3js.org/d3.v4.js"></script>
        <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
        <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
        <script type="text/javascript" src="/src/javascript/Map.js"></script>
    </head>
    <body>

        <div class="navbar">
            <ul>
                <li><img src="/src/asset/bacteria.png" width="45px" height="45px" style="margin-right: 10px"></li>
                <li class="active"><a class="active" href="index.html">Home</a></li>
                <li><a href="focus.html">Focus on</a></li>
                <li><a href="curiosities.html">Curiosities</a></li>
              </ul>
        </div>

        <svg height="10" width="500">
            <line x1="0" y1="0" x2="500" y2="0" style="stroke:#333;stroke-width:1" />
        </svg> 

        <div class="header">
            <h1>COVID Night-teen Fever</h1>
            <h3>An ill Europe</h3>
        </div>

        <svg height="10" width="500" style="display:block;margin:auto">
            <line x1="0" y1="0" x2="500" y2="0" style="stroke:#333;stroke-width:1"/>
        </svg> 

        <div id="map" height="1000" width="1000" style="display:block;margin:auto;display:flex;justify-content:center;"></div>
        <script>Map()</script>

    </body>





</html>